name: szeu-prod

services:
  # traefik:
  #   image: traefik:v3.3
  #   restart: unless-stopped
  #   command:
  #     - "--providers.docker=true"
  #     - "--providers.docker.exposedbydefault=false"
  #     - "--entryPoints.web.address=:80"
  #     - "--entryPoints.websecure.address=:443"
  #     ## TODO review the following configuration
  #     - "--certificatesresolvers.myresolver.acme.email=info@szentiras.eu"
  #     - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
  #     ## TODO http -> https redirect
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock:ro
  #     - letsencrypt:/letsencrypt
  #   networks:
  #     - default
  #     - traefik
  app:
    image: szeu-app-prod
    build:
      context: .
      dockerfile: Dockerfile.prod
      args:
        - GIT_COMMIT_HASH=${GIT_COMMIT_HASH:-}
    # Use this when building: GIT_COMMIT_HASH=$(git rev-parse HEAD) docker compose ...
    volumes:
      - .env.prod:/var/www/html/.env  # write your customizations here
      - storage:/var/www/html/storage
      - sphinx_trigger:/opt/sphinx/trigger
    ports:
      - "8000:80"
    depends_on:
      database:
        condition: service_healthy
      sphinx:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      ## TODO get host from .env
      - "traefik.http.routers.app.rule=Host(`szentiras.eu`)"
      - "traefik.http.routers.app.entrypoints=websecure"
      - "traefik.http.routers.app.tls.certresolver=myresolver"
      - "traefik.http.services.app.loadbalancer.server.port=80"
    networks:
      - traefik
  sphinx:
    image: macbre/sphinxsearch:3.7.1
    volumes:
      - ./deploy/production/sphinx/sphinx.conf.in:/etc/sphinxsearch/sphinx.conf.in
      - ./docker/sphinx/start.sh:/opt/sphinx/start.sh
      - ./docker/sphinx/reindex.sh:/opt/sphinx/reindex.sh
      - sphinx_data:/opt/sphinx/indexes
      - sphinx_trigger:/opt/sphinx/trigger
    mem_limit: 64m
    env_file:
      - ./.env.prod
    depends_on:
      database:
        condition: service_healthy
    networks:
      - traefik
    healthcheck:
      test: ["CMD-SHELL", "searchd --config /etc/sphinxsearch/sphinx.conf --status"]
      start_period: 1m
      interval: 10s
      timeout: 5s
      retries: 3      
    command: sh -c "/opt/sphinx/start.sh"
  database:
    image: pgvector/pgvector:pg17
    env_file:
      - ./.env.prod # for the database credentials
    networks:
      - traefik
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./docker/database:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U homestead -d bible"]
      start_period: 1m
      interval: 10s
      timeout: 5s
      retries: 3      
volumes:
  db-data:
  storage:
  letsencrypt:
  sphinx_data:
  sphinx_trigger:
networks:
  traefik:
