<div class="card bg-light mb-2">
    <div class="card-header collapsible" data-bs-toggle="collapse" data-bs-target="#cardContent">
        <i class="bi bi-chevron-down"></i>
        Keresési útmutató
</div>
<div id="cardContent" class="collapse show">
    <div class="card-body">
{% apply markdown_to_html %}
- A kereső megpróbálja felismerni, hogy igehelyre keresünk vagy a Biblia szövegére.
- Az igehelyekre a „<i>Könyv</i> <i>fejezetszám</i>, <i>verszám</i>” formával lehet hivatkozni, például 1Kor 13,1-7.9-11.
- A szövegekben versenként külön-külön keresünk és a találatokat súlyozva jeleníti meg fejezetenként, versenként, vagy könyvenként
        csoportosítva.
- Lehetőség van arra, hogy egy-egy könyvre szűkítsük le a keresést vagy a teljes Ó- ill. Újszövetségre. 
Hasonlóképpen választhatunk fordítást is, vagy egyszerre kereshetünk valamennyi elérhető változatban.
- Görög keresés: többféle görög szövegű keresés van, ezek közül kell először választani.
{% endapply %}
    </div>
</div>