{% extends 'layout' %}

{% set pageTitle %}
Keresés jelentés szerint mesterséges intelligencia segítségével | Szentírás
{% endset %}

{% block content %}
    Sajnos bejelentkezés nélkül egy munkamenetben legfeljebb {{ config_get("settings.ai.unregisteredSearchLimit") }} MI alapú keresést hajthatsz végre. 
    Kérjük, <a href="/register">jelentkezz be</a>, vagy várj, amíg a munkamenet lejár!
{% endblock %}