<div class="modal-header">
    <h5 class="modal-title">QR-kód</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body text-center">
    <img src="/qr/img/{{ url }}" />
    <p>Ezt a képet letöltheted vagy beszúrhatod dokumentumba (klikk jobb egérgombbal, Mentés vagy Kép másolása).</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezárás</button>
</div>
